// Reusable CSS classes
.section {
    padding: 4.5rem 0 2.5rem 0;
    
    &__title {
        font-size: var(--h2-font-size);
        text-align: center;
        color: var(--title-color);
        text-transform: capitalize;
        margin-bottom: var(--mb-2);
    }
}

// Layout
.container {
    max-width: 968px;
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
}

.grid {
    display: grid;
    gap: 1.5rem;
}