// Places
.place {
    &__card, &__img {
        height: 230px;
    }
    &__container {
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
    }
    &__card {
        position: relative;
        overflow: var(--img-hidden);

        &:hover {
            .place__img {
                transform: var(--img-scale);
            }
        }
    }
    &__content, &__title {
        color: var(--white-color);
    }
    &__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: .75rem .75rem 1rem .75rem;
    }
    &__rating {
        align-self: flex-end;
        display: flex;
        align-items: center;

        &-icon {
            font-size: .75rem;
            margin-right: var(--mb-0-25);
        }
    }
    &__subtitle, &__price {
        display: block;
    }
    &__title {
        font-size: var(--h3-font-size);
        margin-bottom: var(--mb-0-25);
    }
    &__subtitle {
        font-size: var(--smaller-font-size);
        margin-bottom: var(--mb-1-25);
    }
    &__button {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: .75rem 1rem;
    }
    &__img {
        transition: var(--img-transition);
    }
}